.top_bar
{
    color: orangered;
}
.social_icons
{
    color: white;
    margin-right: 5px;
    font-size: 20px;
    padding: 3px;
}
.div7 ul li a
{
    color: black;
    float: left;
}
.div7 ul li
{

    float: left;
}